@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Public Sans", sans-serif;
  --app-body-bg: #1f2937;
}

body {
  margin: 0;
  font-family: inherit;
  background-color: var(--app-body-bg);
  color: rgb(244 244 245);
}
